.content-home {
    flex: 1;
    display: flex;
    gap: 2.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem;
    background: url(../media/img/home-hero-bg.png) no-repeat center;
    background-size: cover;
}

.content-home button {
    background-color: transparent;
    color: var(--header-book-color);
    border: solid 2px #182226;
    padding: 0.75rem 2rem;
    font: var(--body-16-bold);
    height: 4rem;
    border-radius: 2rem;
}

.content-home .buttons {
    display: flex;
    gap: 1rem;
}

.content-home button:hover {
    background-color: var(--accent-red);
    color: white;
    border: solid 2px var(--accent-red);
}

.content-home .text,
.content-home .buttons {
    max-width: 41.9rem;
}

.content-home > .text > p {
    font: var(--body-20-regular);
    padding: 2rem 4rem 0 4rem;
}