@import "./style-vars.css";
@import "./home.css";
@import "./about.css";
@import "./menu.css";
@import "./contact.css";
@import "./book.css";

*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    tab-size: 4; 
}

strong {
    font-weight: bolder;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

table {
    border-color: currentcolor;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit; /* 1 */
    font-size: 100%; /* 1 */
    line-height: 1.15; /* 1 */
    margin: 0; /* 2 */
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
    -webkit-appearance: button;
}

legend {
    padding: 0;
}

progress {
    vertical-align: baseline;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
    height: auto;
}

[type='search'] {
    -webkit-appearance: textfield; /* 1 */
    outline-offset: -2px; /* 2 */
}

::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-file-upload-button {
    -webkit-appearance: button; /* 1 */
    font: inherit; /* 2 */
}

summary {
    display: list-item;
}

/*////////////////////////////////////////////////////////*/
* {
    /* outline: 1px solid red; */
}

html {
    font-size: 0.8rem;
}

body {
    position: relative;
    overflow-y: auto;
    font: var(--body-16-regular);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

button {
    cursor: pointer;
    font: var(--body-16-medium);
}

h1 {
    font: var(--heading-h1);
    text-align: center;
    color: var(--heading);
}

h2 {
    font: var(--heading-h2);
    color: var(--heading);
}

h3 {
    font: var(--heading-h3);
    letter-spacing: 0.03em;
}

li {
    list-style: none;
}

header {
    position: sticky;
    top: 0;
    z-index: 10;
    box-shadow: 0 3px 50px 0 rgba(0, 0, 0, 0.2);
}

form {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 1.5rem;
    background-color: white;
    padding: 2.5em;
    border-radius: 1rem;
    box-shadow: 0 3px 50px 0 rgba(0, 0, 0, 0.08);
    width: 100%;
    max-width: 50rem;
}

input,
select {
    height: 3.75rem;
}

input,
textarea,
select {
    width: 100%;
    padding: 1rem 1.5rem;
    border: 0.5px solid var(--header-btn-hover);
    border-radius: 4.5rem;
}

form .row {
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
}

form .wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

form .row .wrapper {
    flex: 1;             
    min-width: 200px;    
}

label {
    font: var(--body-16-bold);
}

footer {
    background-color: var(--bg-grey);
    color: var(--light);
    padding: 0.7rem 1.5rem;
}

footer a {
    text-decoration: none;
    font: var(--body-16-bold);
    color: var(--light);
}

footer a:hover {
    text-decoration: underline;
}

.credits {
    display: flex;
    justify-content: space-between;
}

.up {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;
    background-color: var(--bg-grey);
    color: var(--light);
    padding: 0.7rem 9.4rem;
}

.contact {
    display: flex;
    flex-wrap: wrap;
    column-gap: 3.2rem;
    row-gap: 1rem;
}

header .number,
header .email {
    flex: 1;
    position: relative;
    min-width: fit-content;
}

.number::before,
.email::before {
    position: absolute;
    content: "";
    background-size: contain;
    background-repeat: no-repeat;
    filter: invert(100%);
    left: -1.6rem;
    top: 0.2rem;
    height: 1.3rem;
    width: 1.3rem;
}

.number::before {
    background-image: url(../media/icons/phone.svg);
}

.email::before {
    background-image: url(../media/icons/email.svg);
}

.socials {
    display: flex;
    gap: 0.25rem;
}

.socials > * {
    height: 1.7rem;
    width: 1.7rem;
    border: none;
}

.btn-twt {
    background: url(../media/icons/twitter.svg) no-repeat center;
    background-size: contain;
}

.btn-fb {
    background: url(../media/icons/facebook.svg) no-repeat center;
    background-size: contain;
}

.btn-insta {
    background: url(../media/icons/instagram.svg) no-repeat center;
    background-size: contain;
}

nav {
    display: flex;
    column-gap: 3rem;
    row-gap: 1.2rem;
    flex-wrap: wrap;
    min-height: 5.25rem;
    padding: 1.4rem 9.7rem 1.4rem 10rem;
    align-items: center;
    justify-content: center;
    background-color: var(--light);
}

@media (max-width: 1136px) {
    .up {
        padding: 0.7rem 3rem;
    }

    nav {
        padding: 1.6rem 3rem 1.6rem 6rem;
    }

    nav button:last-child {
        height: fit-content;
    }

}

nav > p {
    position: relative;
    font-family: "Playfair Display", serif;
    font-size: 2.7rem;
    font-weight: 600;
    font-style: italic;
    line-height: 1.8rem;
    letter-spacing: -0.025rem;
    color: var(--bg-grey);
    padding-left: 4.4rem;
}

nav > p::before {
    background: url(../media/icons/japanese-food.svg) no-repeat center;
    background-size: contain;
    position: absolute;
    content: "";
    height: 3.5rem;
    width: 3.5rem;
    left: 0;
    bottom: -0.7rem;
}

nav button {
    height: 2rem;
    padding: 4px 16px;
    border: none;
    border-radius: 1rem;
    background-color: var(--light);
    color: var(--header-btn-color);
}

nav button:hover {
    background-color: var(--header-btn-hover);
}

nav > .center {
    display: flex;
    justify-content: center;
    flex: 1;
    gap: 0.5rem;
    color: var(--header-btn-color);
}
nav > button:last-child {
    border-radius: 1.5rem;
    height: 3rem;
}

button.btn-red {
    background-color: transparent;
    color: var(--header-book-color);
    border: solid 2px #182226;
    border-radius: 7.4rem;
    padding: 0.75rem 2rem;
    font: var(--body-16-bold);
}

button.btn-red:hover {
    background-color: var(--accent-red);
    color: white;
    border: solid 2px var(--accent-red);
}

form button {
    height: 4rem;
    padding: 1.25rem 2rem ;
}

#content {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

#content.fade-out {
    opacity: 0;
}